{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <figure>
        <img src="{{ asset('images/facade.jpg') }}" alt="Facade librairie">
        <figcaption>
            68 place Mirabeau 84120 PERTUIS<br> 
            04 90 79 02 04 ou 06 30 78 38 65<br>
            lien facebook / lien Instagram
        </figcaption>
    </figure>
    
    <div class="actus">
        <h2>Mon actu</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro autem laudantium dolore sint. Inventore, suscipit ea tempora maxime officiis dignissimos!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis similique accusamus cumque repellendus ipsa voluptas aliquid dolores, nihil qui voluptatem molestias, perspiciatis saepe illum quas necessitatibus iste assumenda libero error. Est dicta non magni perferendis saepe ullam velit delectus voluptatibus.</p>
    </div>
{% endblock %}
